
body { background:#000; color:#fff; font-family:Arial; margin:0; }
.admin-header, .login-container { text-align:center; padding:20px; }
button { background:gold; border:none; padding:10px; margin:10px; cursor:pointer; }
input { display:block; width:80%; margin:10px auto; padding:10px; }
.login-body { display:flex; justify-content:center; align-items:center; height:100vh; }
.form-section, .lista-section { padding:20px; }
.item img { border:2px solid gold; border-radius:6px; }
